@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using downr
@inject DownrOptions options

<header id="header">
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-9">
                    <h1 class="display-4 title"><NavLink href="/">@options.Title</NavLink></h1>
                    <p class="lead">@options.IndexPageText</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/img/famsquad.png" class="img-fluid" alt="famsquad">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="footer" id="footer">
    <div class="container">

        <div class="row justify-content-md-center">
            <h2 class="col text-center title">@options.FooterHeadingText</h2>
        </div>
        <hr/>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static post">
                        <h4 class="mb-0">Connect with me</h4>
                        <p class="card-text mb-auto">
                            <ul>
                                <li><a href="https://github.com/Pilchie">GitHub</a></li>
                                <li><a href="https://twitter.com/Pilchie">Twitter</a></li>
                                <li><a href="https://www.linkedin.com/in/Pilchie/">LinkedIn</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static post">
                        <h4 class="mb-0">Blog engine</h4>
                        <p class="card-text mb-auto">
                            <ul>
                                <li><a href="https://github.com/bradygaster/downr" target="_blank">Downr on GitHub</a></li>
                                <li><a href="https://github.com/dotnet/machinelearning" target="_blank">ML.NET GitHub repo</a></li>
                                <li><a href="https://dotnet.microsoft.com/dotnet/machinelearning-samples" target="_blank">ML.NET Samples</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @if(options.ShowCopyright)
        {
        <hr/>
        <div class="row justify-content-md-center">
            <h2 class="col text-center title">copyright &copy; @options.Author </h2>
        </div>
        }
    </div>
</footer>