@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using downr
@inject DownrOptions options

<header id="header">
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-9">
                    <h1 class="display-4 title"><NavLink href="/">@options.Title</NavLink></h1>
                    <p class="lead">@options.IndexPageText</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/img/famsquad.png" class="img-fluid" alt="famsquad">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="footer">
    <div class="container">

        <div class="row justify-content-md-center">
            <h2 class="col text-center title">other stuff</h2>
        </div>
        <hr/>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Connect with me</h5>
                <p class="card-text">
                    <ul>
                        <li><a href="https://github.com/Pilchie">GitHub</a></li>
                        <li><a href="https://twitter.com/Pilchie">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/Pilchie/">LinkedIn</a></li>
                    </ul>
                </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Blog engine</h5>
                    <p class="card-text">Powered by Brady Gaster's Downr blog engine.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted"><a href="https://github.com/bradygaster/downr" title="The Downr project repository">Downr on GitHub</a></small></p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-md-center">
            <h2 class="col text-center title">copyright &copy; @options.Author </h2>
        </div>
        <hr/>
        <div class="row justify-content-md-center">
            <button id="topButton" class="btn btn-secondary btn-center" onclick="scrollToTop();">back to top</button>
        </div>
    </div>
</footer>